{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문 하기</title>

    <!-- CSS stylesheet -->
    <link link rel="stylesheet" type="text/css" href="{% static 'css/order.css' %}" >
    
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7639c8295bc60ba86f2301c8d9948047"
      defer
    ></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7639c8295bc60ba86f2301c8d9948047&libraries=LIBRARY"
    ></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script
      src="https://kit.fontawesome.com/d35df90ac6.js"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/order.js' %}" defer></script>
  </head>
  <body>
    <section class="optionWrap">
      <div class="optionTitleWrap">
        <span class="optionNumber">1</span>
        <div class="optionTextWrap">
          <span class="optionText">가게 선택하기</span>
          <p class="optionSubText">케이크를 주문할 가게를 선택해주세요.</p>
        </div>
      </div>
      <div class="all">
        <div class="map-wrap">
          <input type="text" />
          <div id="map"></div>
        </div>
        <div class="right">
          <div class="store">
            <div class="storenotice">가게공지</div>
            <div class="storetext">
              <p>
                매주 월요일 휴무입니다.<br />
                케이크는 최소 3일전에 주문해주세요.
              </p>
            </div>
          </div>
          <div class="storeclose">
            <div class="mystore">나와 가까운 가게</div>
            <section class="scroll">
              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->

              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->
              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->
              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->
              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->
              <!-- 가게정보시작부분 -->
              <article class="storebox">
                <div class="storewrap">
                  <img
                    class="cakelogo"
                    src="https://img.lovepik.com/element/40131/7560.png_860.png"
                    alt="가게로고"
                  />
                  <div class="storetextwrap">
                    <div class="storename">멋사가게</div>

                    <div class="storeinfo">
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-location-arrow"></i>
                          진주시 가좌동
                        </div>
                        <div class="store-info-insta">
                          <i class="fa-brands fa-instagram"></i> @abcdefu
                        </div>
                      </div>
                      <div class="store-info-line">
                        <div>
                          <i class="fa-solid fa-phone"></i> 010.1111.2222
                        </div>
                        <div class="store-info-time">
                          <i class="fa-solid fa-clock"></i> 10:00 ~ 19:00
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!-- 가게정보 여기까지 -->
            </section>
          </div>
        </div>
      </div>
    </section>

    <section class="optionWrap">
      <div class="option">
        <div class="optionTitleWrap">
          <span class="optionNumber">3</span>
          <div class="optionTextWrap">
            <span class="optionText">케이크 선택하기</span>
            <p class="optionSubText">디자인한 케이크 도안을 선택해주세요.</p>
          </div>
        </div>
        <div class="optionContents">
          <form action="#" method="post" enctype="multipart/form-data">
            <label class="fileLabel" for="input-file">파일찾기</label>
            <input class="fileInput" type="file" id="input-file" />
            <div class="fileName">첨부파일</div>
          </form>
          <textarea
            class="requireTextarea"
            placeholder="주문 시 요청사항을 적어주세요."
          ></textarea>
          <div class="attachedImgDiv"></div>
        </div>
      </div>

      <div class="option">
        <div class="optionTitleWrap">
          <span class="optionNumber">4</span>
          <div class="optionTextWrap">
            <span class="optionText">상세옵션 선택하기</span>
            <div class="optionSubText">
              케이크 주문 관련 상세옵션을 선택해주세요.
            </div>
          </div>
        </div>
        <div class="optionContents">
          <div class="detailOptionWrap">
            <div class="detailOption">
              <div class="size">
                <span class="text"
                  ><span style="color: red">*</span>케이크 호수</span
                >
                <form class="radioBtnForm" action="#">
                  <input
                    class="radioBtn"
                    type="radio"
                    value="mini"
                    name="size"
                  />미니
                  <input
                    class="radioBtn"
                    type="radio"
                    value="one"
                    name="size"
                  />1호
                  <input
                    class="radioBtn"
                    type="radio"
                    value="two"
                    name="size"
                  />2호
                  <input
                    class="radioBtn"
                    type="radio"
                    value="three"
                    name="size"
                  />3호
                </form>
              </div>

              <div class="taste">
                <span class="text"
                  ><span style="color: red">*</span>케이크 맛</span
                >
                <select>
                  <option>케이크 맛을 선택하세요</option>
                  <option>맛1</option>
                  <option>맛2</option>
                  <option>맛3</option>
                </select>
              </div>
              <div class="adtnlOptionWrap">
                <span class="text"> 추가 옵션</span>
                <form class="checkBtnForm" action="#">
                  <label class="checkLabel">
                    <input type="checkbox" value="candle" name="add" />초
                    추가<input class="countInput" />개
                  </label>
                  <label class="checkLabel">
                    <input type="checkbox" value="Ballon" name="add" />풍선 추가
                  </label>
                  <label class="checkLabel">
                    <input type="checkbox" value="addIce" name="add" />보냉백
                    추가
                  </label>
                </form>
              </div>
            </div>
            <textarea class="request" placeholder="주문 시 요청사항"></textarea>
          </div>
          <button class="orderBtn">주문하기</button>
        </div>
      </div>
    </section>
    <div class="modal-wrap">
      <div class="modal">
        <span class="modal-title">[주문접수]</span>
        <p class="modal-text">고객님의 주문이 성공적으로 접수되었습니다!<br><br>
          주문접수는 주문완료가 아니므로<br>사장님의 접수 메세지를 기다려 주세요.
        </p>
        <button class="confirm-btn"><a href="채팅창">확인</a></button>
      </div>
    </div>
  </body>
</html>
