{% load static %}
<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>케이크보기</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/watch_cake.css' %}" />
    <script src="{% static 'js/watch_cake.js' %}" defer></script>

  </head>
  <body class="body">
     <div class = "b_watch">
      <button class = "b_watch_item b_watch_c b_watch_item_active">케이크보기</button>
      <button class = "b_watch_item b_watch_s"><span class = "watch.s">가게보기</span></button>
  </div>
    

    <br />
    <br />
    <br /> 
    <div class="hash">
      <button class="hash1">#어버이날</button>
      <button class="hash1">#축!전역</button>
      <button class="hash1">#커플기념일</button>
      <button class="hash1">#생일</button>
      <button class="hash1">#크리스마스</button>
    </div>
    <br />

    <select class="sorting" name="정렬">
      <option value="최신순">최신순</option>
      <option value="리뷰많은순">리뷰많은순</option>
      <option value="인기순">인기순</option>
      <option value="추천순">추천순</option>
    </select>

    <br />


    <div class="pink_background">
      <div class="pics_cakes">
        <div class="cp">
          <img class ="img2" src="./src/img/Rectangle 220.png" alt="cake"  />

        </div>
        <div class="cp">
          <img class="img2" src="./src/img/Rectangle 219.png" alt="cake" />
        </div>
        <div class="cp"> 
          <img class="img2" src="./src/img/image 51.png" alt="cake" />

        </div>
        <div class="cp">
          <img class ="img2" src="./src/img/image 56.png" alt="cake"  />
        </div>
        <div class="cp">
          <img class ="img2" src="./src/img/Rectangle 221.png" alt="cake"  />

        </div>
        <div class="cp">
          <img class ="img2" src="./src/img/Rectangle 222.png" alt="cake"  />

        </div>
        <div class="cp">
          <img class="img2" src="./src/img/image 57.png" alt="cake" />

        </div>
        <div class="cp">
          <img class="img2" src="./src/img/image 58.png" alt="cake" />

        </div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
        <div class="cp">케이크사진넣기</div>
      </div>

      <div class="modal">
        <div class="modal_body">
          
          
            <button class="previous">
          <img class="previous2" src="./src/img/Vector 8.png" alt="arrow" />
              
              </button> 
            
            <button class="next"> 
          <img class="next2" src="./src/img/Vector 9.png" alt="arrow" />
            </button>  
          <img
            class="modal-img"
            src="./src/img/Rectangle 219.png"
            alt="cake"
           />
           <br/>
           <br/>
           <button class="m_button" >가게보러가기</button>
           <button class="m_button" >도안보러가기</button>
        </div>
      </div>
      <div class="buttons">
        <button class="page_button">1</button>
        <button class="page_button">2</button>
        <button class="page_button">3</button>
      </div>
    </div>
  </body>
</html>
