.title{
    font-size: 50px;
    text-align: center;

}

h3, p{
    color: brown;
}

#content{
    color:#555;
}

nav{
    color:hotpink;
}

h3{
    margin: 50px;
    padding: 40px;
    border: 5px solid black;

}
input{
    border: none;
    border-bottom: 3px solid black;
    color: blueviolet;
}

.write{
    background-color: white ;
    border-radius: 20px;
    font-weight: 900;
    padding:10px 70px;
    border:none;
    transform: translate(20px,-70px);
}

a{
    text-decoration: none;
}
a:link, a:visited{
    font-weight: 900;
    color:black;
}