<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./src/css/manager_shop2.css">
    <script
      src="https://kit.fontawesome.com/d35df90ac6.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
</head>
<body>
    <section>
        <div class="container">
            <h1 class="title">가게관리</h1>
            <div class="options-wrap">
                <h2 class="option-title">가게 정보 페이지 관리</h2>
                <article class="options">
                    <section class="option-wrap">
                        <span class="option-name">가게 공지사항</span>
                        <div class="option-detail-wrap">
                            <textarea class="notice" name="notice">월:휴무
*100% 동물성생크림, 프랑스산 고메버터 사용해 매일 매장에서 반죽하고 만들고 있습니다.*
**모든 문의는 1:1 문의와 채팅으로만 받습니다**
!!전화, 디엠 안받아요!!
                            </textarea>
                        </div>
                    </section>
                    <section class="option-wrap">
                        <span class="option-name">케이크 사진 관리</span>
                        <div class="cake-detail-wrap">
                            <div class="update-cake-wrap">
                                <div class="update-cake"></div>
                                <div class="update-cake-info">
                                    <input class="cake-name-input" type="text" placeholder="케이크 이름">
                                    <div class="update-cake-price">
                                        <span>가격</span>
                                        <div class="input-wrap">
                                            <input type="radio" class="size" id="mini" name="size">
                                            <label for="mini">미니</label>
                                            <input class="price-input" type="text" />

                                            <input type="radio" class="size" id="two" name="size">
                                            <label for="two">2호</label>
                                            <input class="price-input" type="text" />

                                            <input type="radio" class="size" id="one" name="size">
                                            <label for="one">1호</label>
                                            <input class="price-input" type="text" />

                                            <input type="radio" class="size" id="three" name="size">
                                            <label for="three">3호</label>
                                            <input class="price-input" type="text" />
                                        </div>
                                    </div>
                                    <textarea class="cake-notice" name="cake-notice" placeholder="알림사항(선택)"></textarea>
                                </div>
                            </div>
                            <ul class="cake-list">
                                <li class="cake-photo">
                                    <img src="./src/img/image 57.png" alt="cake">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <li class="cake-photo">
                                    <button class="delete-btn">
                                        <i class="fa-solid fa-xmark"></i>
                                    </button>
                                </li>
                                <button class="add-btn">
                                    <i class="fa-solid fa-plus fa-2x"></i>
                                </button>
                            </ul>
                        </div>
                    </section>
                </article>
                <button class="update-btn">수정 완료</button>
            </div>

        </div>
    </section>
</body>
</html>