<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./src/css/signup.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>회원가입</title>
</head>
<body>
    <!-- 중앙 흰색바탕 블록 -->
    <div class="inner_box">
        <div class="profile_settings">프로필 설정</div>
        <div class="profile">
            <div class="profile_photo_img"></div>
            <div class="profile_photo_change_btn"><i class="fa-regular fa-images"></i></div>
        </div>
        <div class="profile_name_box">
            <input type="text" class="profile_name" placeholder="사용할 닉네임을 입력하세요"/>
            <button class="profile_name_check_btn" type="button" >중복확인</button>
        </div>
        <input class="profile_number" placeholder="전화번호를 입력하세요" />
        <div class="profile_address_box">
            <input class="profile_address" placeholder="주소를 입력하세요" />
            <button class="profile_address_search_btn" type="button">찾기</button>
        </div>
        <button class="profile_settings_btn">설정 완료</button>
    </div>
</body>
<script src="https://kit.fontawesome.com/bab0b57cd2.js" crossorigin="anonymous"></script>
</html>